<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="add-post">
        <ion-icon name="add-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="favourites">
        <ion-icon name="star-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="me">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
