.add-post-form {
    margin: 16px;


}

.add-post-form-lbl {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.04rem;
}

.add-post-from-validation-container {
    height: 1.1rem;
}

.add-post-form-validation-msg {
    margin: 0.1rem;
    color: #e02525;
    font-size: 14px;
    letter-spacing: 0.04rem;
}

.add-post-form-btn {
    margin-top: 0.5rem;
    height: 3rem;
    font-size: 15px;
}
