<ion-header>
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="loading">
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8]" detail="true">
      <ion-thumbnail slot="start">
        <ion-skeleton-text class="post-thumbnail" animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3 class="post-title">
          <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
        </h3>
        <p class="post-body">
          <ion-skeleton-text animated style="width: 95%;"></ion-skeleton-text>
        </p>
        <span class="post-datetime">
          <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
        </span>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none" *ngIf="!loading">
    <app-post-item *ngFor="let post of favouritePosts" [post]="post"></app-post-item>
  </ion-list>
  <ion-infinite-scroll threshold="150px" (ionInfinite)="fetchMore($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
