<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="comments-container">
    <ion-list lines="none">
      <div class="comment" *ngFor="let comment of comments">
        <div>
          <div class="user-avatar">
            <img [src]="comment.commentedBy.avatar_url" />
          </div>
        </div>
        <div class="comment-text-container">
          <span class="comment-username">{{ comment.commentedBy.username }}</span>
          <p class="comment-text">{{ comment.text }}</p>
          <span class="comment-date-time">{{ formatDate(comment.createdAt) }}</span>
        </div>
      </div>
    </ion-list>
  </div>
  <div class="comment-input-container">
    <form #commentForm="ngForm" class="comment-input-form">
      <input
        #comment="ngModel"
        name="comment"
        id="comment"
        class="comment-input"
        type="text"
        placeholder="Write something..."
        ngModel
        required
      />
      <ion-button 
        fill="clear" 
        size="small" 
        class="comment-button"
        [disabled]="!commentForm.form.valid"
        >
        Post
      </ion-button>
    </form>
  </div>
</ion-content>