
ion-content {
    overflow: hidden;
}

.comments-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 50px;

    ion-list {
        padding: 0;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.comment-input-container {
    border-top: 1px solid #cecece;
    position: absolute;
    bottom: 0;
    height: 49px;
    width: 100%;
    
    .comment-input-form {
        display: flex;
        align-items: center;
        height: 100%;

        .comment-input {
            flex: 1;
            outline: none;
            height: 100%;
            font-size: 1rem;
            padding: 0 1rem;
            border: none;
            border-right: 0.05rem solid #92949c;
        }
    
        .comment-button {
            font-size: 1rem;
            text-transform: capitalize;
        }
    }
}

.loading {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}