<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="comments-container">
    <ion-list lines="none">
      <div class="comment">
        <div>
          <div class="user-avatar">
            <img src="http://localhost:3000/assets/avatar-person.png" />
          </div>
        </div>
        <div class="comment-text-container">
          <span class="comment-username">momo</span>
          <p class="comment-text">First Comment</p>
          <span class="comment-date-time">2m</span>
        </div>
      </div>
      <div class="comment">
        <div>
          <div class="user-avatar">
            <img src="http://localhost:3000/assets/avatar-person.png" />
          </div>
        </div>
        <div class="comment-text-container">
          <span class="comment-username">momo</span>
          <p class="comment-text">Second comment</p>
          <span class="comment-date-time">2m</span>
        </div>
      </div>
    </ion-list>
  </div>
  <div class="comment-input-container">
    <form #commentForm="ngForm" class="comment-input-form">
      <input
        #comment="ngModel"
        name="comment"
        id="comment"
        class="comment-input"
        type="text"
        placeholder="Write something..."
        ngModel
        required
      />
      <ion-button 
        fill="clear" 
        size="small" 
        class="comment-button"
        [disabled]="!commentForm.form.valid"
        >
        Post
      </ion-button>
    </form>
  </div>
</ion-content>